apiVersion: template.openshift.io/v1
kind: Template
labels:
  template: amq-interconnect-tls
  app: {{ ar_osc_amqinterconnect_common_name }}
metadata:
  annotations:
    description: Secret containing Server Key, Cert and CA Cert TLS files
    iconClass: icon-amq
    openshift.io/display-name: Server Key, Cert and CA Cert TLS files
  labels:
    app: {{ ar_osc_amqinterconnect_common_name }}
  name: {{ ar_osc_amqinterconnect_common_name }}-certs-template
objects:
- apiVersion: v1
  kind: Secret
  metadata:
    name: {{ ar_osc_amqinterconnect_common_name }}-certs
    namespace: {{ ar_osc_amqinterconnect_ns }}
    labels:
      app: {{ ar_osc_amqinterconnect_common_name }}
  type: Opaque
  data:
    ca.crt: {{ ar_osc_amqinterconnect_ca_cert_content | b64encode }}
    tls.crt: {{ ar_osc_amqinterconnect_cert_content | b64encode }}
    tls.key: {{ ar_osc_amqinterconnect_tls_key }}
