apiVersion: template.openshift.io/v1
kind: Template
labels:
  template: amq-interconnect-user-secret
  app: {{ ar_osc_amqinterconnect_common_name }}
metadata:
  annotations:
    description: Secret containing Users and Passwords
    iconClass: icon-amq
    openshift.io/display-name: Secret containing Users and Passwords
  labels:
    app: {{ ar_osc_amqinterconnect_common_name }}
  name: {{ ar_osc_amqinterconnect_common_name }}-users-secret-template
objects:
- apiVersion: v1
  kind: Secret
  metadata:
    name: {{ ar_osc_amqinterconnect_common_name }}-users
    namespace: {{ ar_osc_amqinterconnect_namespace }}
    labels:
      app: {{ ar_osc_amqinterconnect_common_name }}
  type: Opaque
  data:
    {{ ar_osc_amqinterconnect_ic_username }}: {{ ar_osc_amqinterconnect_ic_password | b64encode }}
